<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/gestor_pelis</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Estrategia de actualización de esquema -->
        <!-- create: crea el esquema, destruyendo datos previos -->
        <!-- create-drop: crea el esquema y lo elimina al cerrar -->
        <!-- update: actualiza el esquema -->
        <!-- validate: valida el esquema, no hace cambios -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeo de clases de entidad (añade tus clases aquí) -->
        <mapping class="org.example.retoconjuntoad_di_2.model.copia.Copia"/>
        <mapping class="org.example.retoconjuntoad_di_2.model.user.User"/>
        <mapping class="org.example.retoconjuntoad_di_2.model.pelicula.Pelicula" />
        <!-- <mapping class="com.tuempresa.modelo.Producto"/> -->

    </session-factory>
</hibernate-configuration>